{{ define "posts/index.tmpl" }}
<html>
  <head>
    <title>Show</title>
  </head>
  <body>
    <h1>Using posts/index.tmp</h1>
    <img src="https://s3-ap-northeast-1.amazonaws.com/go-sdk-api/media/test.jpg" width=500 alt="show">
  </body>
</html>
{{ end }}
